.Header {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

.title {
  color: white;
  font-weight: 600;
  font-size: 24px;
}

#navItems {
  opacity: 0.5;
}

#navItems:hover {
  opacity: 1;
}
